@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    
    <img src="~/media/products/10121.webp" height="550" width="550"/>
    <marquee direction="right" behavior="alternate"  width="100%" height="100px"><h3><br>May the pizza be with you<br></h3></marquee> 
</div>
